@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;

    transition-duration: 0.2s;
}

body {
    background: rgb(186, 191, 255);
}

main {
    background: rgba(255, 255, 255, 0.267);

    box-shadow: 0px 0px 10px rgb(141, 141, 141);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
    border-radius: 10px;

    padding: 30px;

    width: 600px;
    text-align: center;

    margin: auto;
    margin-top: 40px;
}

.input {
    margin: 20px 0px;
    padding: 5px;

    width: 65%;
    height: 40px;

    border-style: none;
    background: rgb(238, 238, 238);

    border-radius: 5px;
}

.input:focus {
    outline-style: solid;
    outline-color: rgb(212, 212, 212);

    box-shadow: 0px 0px 10px rgb(96, 96, 96);
}

.addbtn {
    margin: 20px 0px;
    padding: 5px;

    width: 25%;
    height: 45px;

    border-style: none;
    background: rgb(86, 128, 255);

    border-radius: 5px;
}

.addbtn:active {
    transition-duration: 0s;
    box-shadow: 0px 5px 10px rgb(76, 76, 76);
}

.task {
    align-items: center;
}

.task-items {
    display: flex;
    justify-content: space-between;

    background: rgba(244, 244, 244, 0.418);

    height: 30px;

    padding: 10px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;

    font-size: 1.4em;

    margin: 20px;
}

.task-items:hover {
    background: rgba(244, 244, 244, 0.836);
}

.delete-icon{
    opacity: 10%;
}

.delete-icon:hover {
    opacity: 100%;
}

@media (max-width: 750px) {
    main {
        width: 90vw;
    }
}